.fourth_section{
    height: 100vh;
    margin-top: 30vh;
    @media (max-width:792px) {
        margin-top: 50vh;
    }   
    
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: $font-size-sm;
        font-weight: $font-w-md;
    }
}

.fourth_container{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:792px) {
        flex-direction: column;
    }
}

.fourth_boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid $color-light-grey;
    border-radius: 30px;
    margin: 0 100px;
    padding: 30px 0;
    scale: 1.2;

    @media (max-width:792px) {
        scale: 1;
        margin-bottom: 50px;
    }

    h2{
        font-size: $font-size-xsm;
        font-weight: $font-w-md;
        margin-top:30px;
    }

    img{
        margin-top: 20px;
    }

    p{
        text-align: center;
        font-weight: $font-w-sm;
        margin-top: 30px;
    }

    a{
        margin-top: 20px;
        text-decoration: none;
        color: $color-text;
        font-weight: $font-w-lg;
    }

}

