$font-w-sm:300;
$font-w-md:500;
$font-w-lg:700;
$color-dark-grey:#858585;
$color-light-grey:#EFEFEF;
$color-btn:#FDC212;
$color-footer:#FEE59A;
$color-text:#000000;
$font-size-xsm:26px;
$font-size-sm:48px;
$font-size-md:72px;
$font-size-lg:100px;
$line-h-xsm:30px;
$line-h-sm:48px;
$line-h-md:72px;
$line-h-lg:100px;

